.scene{
	height: 100vh;
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.scene h1{
	font-size: 5vw;
	font-weight: bold;
}

.bg_video{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
}

.swiper-wrapper{
	padding: 0 !important;
}

.bgVideoWrapper{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.bgVideoWrapper::after{
	content: '';
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: radial-gradient(transparent,black);
}

.noise{
	opacity: 0.13;
	z-index: 1;
}

.audioItem{
	display: none;
}


.closeModal{
	z-index: 1;
}

._jsSound{
	text-decoration: none;
}

._jsSound:hover img{
	mix-blend-mode: difference;
}

.narration{
	width: 80vw;
	position: relative;
	display: flex;
	height: 100%;
	align-items: center;
}

.narration p{
	font-size: 2em;
	position: absolute;
	opacity: 0;

}


.subMenuOpen{}
.subMenuOpen .chapterWrapper{
	transform: translateX(0px);
	transition: transform 0.3s cubic-bezier(.76,.05,.86,.06);
	will-change: transform;
}
.chapterWrapper{
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100vh;
	width: 30%;
	background-color: rgba(255,255,255,0.3);
	backdrop-filter: blur(20px);
	transform: translateX(-100%);
	transition: transform 0.3s cubic-bezier(.76,.05,.86,.06);
	will-change: transform;
}

.chapters{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.chapter{
	flex: 1;
	width: 100%;
	padding: 1em;
	font-size: 1.3rem;
	border-bottom: 1px solid #787575;
}

#_chapters{
	position: absolute;
	z-index: 1;
	bottom: 1em;
	right: 2em;
}

@media (max-width: 600px){
	*{}
	._jsSound{
		/*! display: none; */
	}
	.narration p{
		font-size: 1rem;
	}
	.menu{
		display: none;
	}
	.chapterWrapper{
		width: 50%;
	}
}