*{



}


body{
	font-family: 'Inter Tight', sans-serif;
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	color: #fff;
	height: 100vh;
	/*! overflow-y: hidden; */
	/*! overflow-x: scroll; */
}

main{
/*! display: flex; */
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: inherit;
}


p{
	margin: 0;
}

svg{
	color: #fff;
	width: 1.5em;
	height: 1.5em;
	FILL:#FFF;
}

.loading .loader{
	transform: translateY(0);
	transition: transform 0.3s ease-in;

}

.loader{
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	z-index: 100;
	justify-content: center;
	align-items: center;
	transform: translateY(100%);
	transition: transform 0.3s ease-out;

}

.loader h1{
	font-size: 15vw;
	display: block;
	color: #333;
	line-height: 0.8;
	font-weight: bold;
	position: relative;
	opacity: 0.5;
	transform: translateY(500px);
}

.loader h1:first-child{


}

.loader h1:last-child{

}



.rightCopy{
	display: flex;
	justify-content: space-around;
	position: absolute;
	height: 100vh;
	font-size: 0.8rem;
	right: 1em;
}

.left--mode{
	writing-mode: vertical-rl;
}

.right--mode{
	writing-mode: vertical-lr;
}




.customBtn{
	margin-top: 3em;
	border-radius: 100px;
	letter-spacing: 2px;
}

.noise{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url('../img/noise.gif');
	opacity: 0.08;
}

.icon{
	width: 1.5em;
	margin: 0 10px;
}
.fullWidth{
	min-width: 100vw;
	height: 100vh;
}

.closeModal{
	position: absolute;
	z-index: 10;
	right: 2em;
	top: 1em;
}
.navigation{
	display: flex;
	height: 50px;
	width: 100%;
	z-index: 5;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	margin-top: 15px;
	/*! border-bottom: 1px solid #111; */
}

.menu{

}

.menuItem{
	margin-right: 1em;
	text-decoration: underline;
}
.hero{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	min-height: 100vh;
	background-image: url("../img/hero.jpg");
	background-size: cover;
	background-position: center 40%;
	background-repeat: no-repeat;
	width: 100vw;
	position: relative;
}

.hero::after{
	content: '';
	width: 100vw;
	height: 100vh;
	background: linear-gradient(0deg,black,transparent);
	position: absolute;
	bottom: 0;
	left: 0;
}

.hero .content{
	margin-bottom: 5em;
	margin-left: 2em;
	z-index: 1;
	transform: translateY(0px);
	transition: transform 800ms 200ms ease;
}

.loading .hero .content{
	transform: translateY(100px);
}

.loading .hero{
	
}
.hero h1{
	font-size: 9vw;
	line-height: 0.9;
	font-weight: bold;
}

.hero p{
	font-size: 1.5rem;
}


.kings{
	display: flex;
	white-space: nowrap;
}

.king{
	height: 345px;
	background-color: black;
	margin-right: 1em;
	min-width: 250px;
	overflow: hidden;
	position: relative;
}

.king img{
	height: 300px;
	width: 100%;
	object-fit: cover;
	object-position: top;
	mix-blend-mode: luminosity;
/* 	transform: scale3d(1,1,1);
	transition: transform 0.9s ease; */
}

.king img:hover{
/* 	transform: scale3d(1.2,1.2,0.1);
	transition:transform 0.9s cubic-bezier(.22,.61,.36,1); */
}

.lineage{
	padding: 3em 0;
}

.lineage h1{
	text-align: center;
}

.name{
	display: block;
}

.tabWrapper a.nav-link{
	background-color: transparent !important;
	border-radius: 0;
	width: 300px;
	border: 2px solid #fff;
	color: #717171;
}
.tabWrapper a.nav-link.active{
	color: #fff;
}


.selectors{

	display: flex;
	justify-content: center;
}

.cardHistory{
	background-color: #101010;
	height: 100vh;
	padding: 1em;
	display: flex;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	border: 1px solid #2b2b2b;
	background-blend-mode: multiply;
	flex-direction: column;
}

.cardHistory:hover{
	background-blend-mode: hard-light;
}

.cardHistory h2{
	font-weight: bold;
}

#warModal .modal-content{
	background-color: black;
}

.modal-open .modal-content{
	animation: fade-in 150ms ease-in;
	overflow-y: scroll;
}
.imgWrapper{
	position: relative;
}

[data-scroll="in"].war .fullImg{
	position: sticky;
	top: 0;
	left: 0;
}

.fullImg{
	width: 100%;
	height: 100vh;
	object-fit: contain;
}

.cards{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.cardItem{
	width: 300px;
	background-color: #222223;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	transform: scale(1);
	transition: transform 0.3s ease;
	height: 420px;
	border: 2px solid transparent;
	cursor: grab;
}
.swiper-slide .cardItem{
	opacity: 0.3;
}

.swiper-slide-active .cardItem{
	opacity: 1;
	transform: scale3d(1.15,1.15,1);
	transition: all 0.3s ease;

}

.rating{

	position: absolute;
	z-index: 1;
	right: 1em;
	
	padding: 10px;
	/*! border-radius: 19px; */
	color: #000;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	backdrop-filter: blur(5px);
}

[data-rating="gold"] .rating{
	background-color: #f09b2e;
	background-image: url('../img/cards/gold.jpg');
}


[data-rating="silver"] .rating{
	background-color: #eeeeee57;
	background-image: url('../img/cards/silver.jpg');
	background-size: contain;
	color: #fff;
}

[data-rating="bronze"] .rating{
	background-color: #986f46;
	background-image: url('../img/cards/bronze.jpg');
	color: #fff;
}



.cardItem .imgWrapper{
  height: 250px;
	overflow: hidden;
  background-color: #000;
}

.cardImg{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position:top;
	mix-blend-mode: luminosity;
}

.badges{
	position: absolute;
	background-color: transparent;
	top: 0;
	display: flex;
	flex-direction: column;
	padding:5px;
	
}

.badge{
  margin-bottom: 5px;
	padding: 0;
}

.badge img{
	width: 3.5em;
	background-color: darkkhaki;
	clip-path: circle();
}

.badge:hover img{
	background-color: #fff;
	transition:background-color 0.2s ease;
}

.meta{
  padding: 0.3em 1em;
  background-color: sienna;
}

.meta h4{
	font-size: 1.1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*! margin: 0; */
}

.meta p{
	font-size: 0.8rem;
}

.stats{
	
	padding: 1em;
}


.stats p{
	font-size: 0.8rem;
}


.swiper-wrapper{
	padding: 2em;
}

.quotes{
	
	color: #989898;
	padding: 2em;
}

.quotes p{
	
}


.swiper-slide-active [data-leader="mkabayi"]{
	border: 2px solid yellow;
	cursor: pointer;
	/*transition: border ease;*/
}


.history{
	text-align: center;
	display: flex;
	align-items: center;
}

.historyContent{
	min-height: 100vh;
	position: relative;
	padding: 2em;
	
}

.historyContent::before{
	content: '';
	z-index: 0;
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.8);
	background-image: url('../img/warrior.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.2;
}

.historyMain{
	position: relative;
	z-index: 1;
	text-align: center;
}

.historyHeader{
	position: relative;
	overflow: hidden;
}

.historyHeader img{
	position: sticky;
	width: 400px;	
}

.historyImg{
	padding: 7em 0;
}

.historyImg h1{
	font-weight: bold;
	font-size: 10vw;
}

.lines{
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	z-index: 1;
}

.lines .line{
	width: 25%;
	border-left: 1px solid #3c3c3c;
}


@keyframes fade-in{
	0%{
		transform: scale3d(0.95, 0.95, 0.95);
		opacity: 0.6;
	}
	100%{
		transform: scale3d(1.0, 1.0, 1.0);
		opacity: 1;
	}
}


@media (max-width: 600px){
	*{}

	p{
		font-size: 0.9rem;
	}
	.selectors{
		flex-wrap: wrap;
	}
	
	.historyImg{
		margin-top:1em;
		padding: 1em;
	}
	
	.historyContent{
		padding: 10px;
	}

	.menu{
		position: absolute;
		top: 10vh;
		display: flex;
justify-content: space-between;
width: 100%;
left: 0;
padding: 0 10px;
	}
	.lineage{
		display: none;
	}

	._cards .navigation .logo{
		opacity: 1;
	}

	._cards .navigation .menu{
		opacity: 0;
	}
	.menuItem{
		margin-right: 0;
		/*text-decoration: none;*/
	}

	.modal p{
		font-size: 0.8rem;
	}

	.swiper-slide-active .cardItem{
		transform: unset;
	}
	.swiper-wrapper{
		padding: unset;
	}
}


	.loader h1{
			font-size: 15vw;
			display: block;
			color: #333;
			line-height: 0.8;
			font-weight: bold;
		}
		
		.loading .loader h1:first-child{
			opacity: 1;
			transform: translateY(0);
			transition: all 0.5s 1s ease;
		}

		.loading .loader h1:last-child{
			opacity: 1;
			transform: translateY(0);
			transition: all 0.5s 1.15s ease;
		}